<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate>
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Username" name="username" required/>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" required/>
      </mat-form-field>
      <mat-checkbox name="remember">
        Remember me
      </mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white">
      Login
    </button>
  </mat-dialog-actions>
</form>