.center {
    margin: auto;
    min-height: 60px;
    font-style: oblique;
    font-size: 1.2em;
    padding: 35px 10px 10px 10px;
  }
.auther-name{
    color: #223497;
}
mat-card-actions{
    button{
        background-color: #223497;
        color: floralwhite;
    }
}