<div fxFlex>
  <h3>Your Feed</h3>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div mat-card-avatar>
          <img  src="assets/images/logo.png" height=30 width=41>
        </div>
        <p matLine>Amit Kumar Gupta</p>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p matLine>Unfortunately, people say some strange things in an effort to
        make someone else feel better.Most of these statements are things
         we've learned.
     </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div mat-card-avatar>
          <img  src="assets/images/logo.png" height=30 width=41>
        </div>
        <p matLine>Amit Kumar Gupta</p>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p matLine>Unfortunately, people say some strange things in an effort to
        make someone else feel better.Most of these statements are things
         we've learned.
     </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div mat-card-avatar>
          <img  src="assets/images/logo.png" height=30 width=41>
        </div>
        <p matLine>Amit Kumar Gupta</p>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p matLine>Unfortunately, people say some strange things in an effort to
        make someone else feel better.Most of these statements are things
         we've learned.
     </p>
    </mat-card-content>
  </mat-card>

</div>