<div fxFlex >
  <h3>Your Feed</h3>
  <div *ngIf="feeds">
  <mat-card *ngFor="let feed of feeds">
    <mat-card-header>
      <mat-card-title>
        <h3 matLine class="auther-name">--{{feed.author.username|uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content class="center background-card">
      <p matLine> {{feed.description}} </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button><span class="fa fa-handshake-o fa-lg"></span> Agree</button>
      <button mat-button><span class="fa fa-thumbs-down fa-lg"></span> Disagree</button>
      <button mat-button><span class="fa fa-comments fa-lg"></span> Comment</button>

    </mat-card-actions>
  </mat-card>
  
  </div>
  <div [hidden]="feeds||errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <mat-error>
      {{errMess}}
    </mat-error>
  </div>
</div>